	
	.head{
		background-color: white;
		width: 100%;
		box-shadow: 1px 1px 8px #888888;
	}
	.centrarImagenes img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#title{
		font-size:42px;
		font-family: cursive; 
		margin-left: 34%;
		margin-bottom: 2px;
		padding: 0px;
	}
	.centerTitle{
		display: block;
		margin-left: auto;
		margin-right: auto; 
	}
	.matricula{
		display: none;
		width: 80%;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		height: 400px;
	}
	table, th, td, caption{
    	border: 1px solid black;
    	border-collapse: collapse;
	}

	/*INFORMACION DEL FOOTER*/
		.footer{
			padding: 20px;
			max-height: 300px;
			text-align: center;
			background-color: #ddd;
			margin-top: 200px;
			border-radius: 5px;
		}
		.info_footer{
			margin-top: 40px;
			margin-left: auto;
			margin-right: auto;
			width: 80%;
			height: 300px;
		}
		div h3{
			color: white;
			font-family: cursive;
		}
		.fcentrar{
			display: inline;
			padding: 5px;
		}
		/*BARRA DE NAVEGACION*/
		.topnav {
			width: 100%;
			background-color: #333;
			display: flex;
		}
		.dropbtn {
			font-family: "Times New Roman", Times, serif;
		    background-color: #333;
		    color: white;
		    padding: 16px;
		    font-size: 18px;
		    border: none;
		}
		.dropdown:hover .dropbtn {
		    background-color: #3e8e41;
		    cursor: pointer;
		}
		.loginPadre:hover{
			background-color: #3e8e41;
		    cursor: pointer;
		}
		.loginPadre{
			overflow: hidden;
			width: 100px;
			position: absolute;
			right: 8px;
		}